.container_form {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

.column {
    flex-basis: 48%;
}

h2 {
    text-align: center;
}

/* Style for text inputs */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container_form {
        flex-direction: column;
    }

    .column {
        margin-bottom: 20px;
    }
}
