/* CSS for displaying movies in a 4x4 row and column layout */
.movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
    grid-gap: 20px; /* Adjust the gap between movie cards as needed */
}

.movie-card {
    text-align: center;
}

.movie-poster {
    max-width: 80%;
    max-height: 350px; /* Limit the maximum height of the movie poster */
}

h3 {
    font-size: 18px;
    margin: 10px 0;
}

p {
    font-size: 14px;
    color: #777;
}
.no_results {
    max-width: 500px;
    max-height: 500px;
    align-items: center;
   
}

@media screen and (max-width: 1024px) {
    .movie-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}


@media screen and (max-width: 768px) {
    .movie-grid {
        grid-template-columns: repeat(1, 1fr); 
    }
}
